.overViewRemote {
  max-width: 2400px;
  width: 100%;
  margin: 0 auto;
}

.overViewRemote .overViewWrap {
  margin: 0 auto;
  max-width: 1200px;
  padding: 180px 30px 160px;
  box-sizing: unset;
}

.overViewRemote .overViewWrap .overViewTit {
  text-align: center;
}

.overViewRemote .overViewWrap .overViewTit>p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.23px;
  text-align: center;
  color: #0a51b7;
  margin-bottom: 16px;
}

.overViewRemote .overViewWrap .overViewTit h2 {
  font-size: 44px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -0.55px;
  text-align: center;
  color: #121212;
  margin-bottom: 16px;
}

.overViewRemote .overViewWrap .overViewTit span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
  margin-bottom: 45px;
}

.overViewRemote .overViewWrap .overViewTit span p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
}

.overViewRemote .overViewWrap .overViewCont {
  display: flex;
  justify-content: space-between;
}

.overViewRemote .overViewWrap .overViewCont span {
  border-top: 1px solid #c5c8cf;
  border-bottom: 1px solid #c5c8cf;
  padding: 35px 0;
  max-width: 355px;
}

.overViewRemote .overViewWrap .overViewCont span i {
  display: block;
  text-align: center;
  margin-bottom: 35px;
}

.overViewRemote .overViewWrap .overViewCont span i img {
  max-width: 128px;
  width: 100%;
}

.overViewRemote .overViewWrap .overViewCont span p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.25px;
  text-align: center;
  color: #0a51b7;
  margin-bottom: 15px;
}

.overViewRemote .overViewWrap .overViewCont span p:nth-child(3),
.overViewRemote .overViewWrap .overViewCont span p:last-child {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
}

.overViewRemote .overViewWrap .overViewCont span:first-child {
  width: 33.3%;
}

.overViewRemote .overViewWrap .overViewCont span:nth-child(2) {
  width: 33.3%;
}

.overViewRemote .overViewWrap .overViewCont span:last-child {
  width: 33.3%;
}

.overViewRemote .overViewWrap .overViewBox ul {
  max-width: 847px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.overViewRemote .overViewWrap .overViewBox ul li {
  width: calc((100% - 5px) / 3);
  max-width: 279px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  margin: 0 5px 0 0;
  padding: 21px 0;
  border-radius: 8px;
  background-color: #092e6e;
}

.overViewRemote .overViewWrap .overViewBox ul li:last-child {
  margin-right: 0;
}

.overViewRemote .overViewWrap .overViewBox ul li p:first-child {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}

.overViewRemote .overViewWrap .overViewBox ul li p:last-child {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  text-align: center;
  color: #bfdcff;
}

@media screen and (max-width: 1024px) {
  .overViewRemote .overViewWrap {
    padding: 120px 24px;
  }
}

@media screen and (max-width: 768px) {
  .overViewRemote .overViewWrap .overViewTit h2 {
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.33px;
    text-align: center;
    color: #121212;
  }

  .overViewRemote .overViewWrap .overViewTit>p {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.18px;
    text-align: center;
    color: #0a51b7;
    margin-bottom: 38px;
  }

  .overViewRemote .overViewWrap .overViewBox ul {
    flex-direction: column;
  }

  .overViewRemote .overViewWrap .overViewBox ul li {
    width: 100%;
    margin: 0 0 10px;
    max-width: 100%;
  }

  .overViewRemote .overViewWrap .overViewBox ul li:last-child {
    margin: 0;
  }

  .overViewRemote .overViewWrap .overViewTit span,
  .overViewRemote .overViewWrap .overViewTit span p {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #121212;
  }

  .overViewRemote .overViewWrap .overViewTit span {
    max-width: 508px;
    margin: 0 auto 38px;
    width: 100%;
  }

  .overViewRemote .overViewWrap {
    padding: 100px 24px;
  }

  .overViewRemote .overViewWrap .overViewCont {
    flex-direction: column;
  }

  .overViewRemote .overViewWrap .overViewCont span:nth-child(3),
  .overViewRemote .overViewWrap .overViewCont span:nth-child(2),
  .overViewRemote .overViewWrap .overViewCont span:first-child {
    width: 100%;
    max-width: 100%;
  }

  .overViewRemote .overViewWrap .overViewCont span p:nth-child(2) {
    margin-bottom: 10px;
  }

  .overViewRemote .overViewWrap .overViewCont span:nth-child(3),
  .overViewRemote .overViewWrap .overViewCont span:nth-child(2) {
    border-top: none;
  }

  .overViewRemote .overViewWrap .overViewCont span p:nth-child(3),
  .overViewRemote .overViewWrap .overViewCont span p:last-child {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #121212;
  }
}

@media screen and (max-width: 600px) {
  .overViewRemote .overViewWrap {
    padding: 70px 24px;
  }

  .overViewRemote .overViewWrap .overViewTit span {
    max-width: 377px;
    margin: 0 auto 38px;
    width: 100%;
  }
}