@charset "utf-8";
@import "../reset.scss";
@import "../mixin.scss";

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  z-index: 500;
}

.products-section {
  overflow: hidden;
}

.introduce-part {
  &+#headingModule {
    padding-top: 72px;

    @media (max-width: $mobile) {
      padding-top: 32px;
    }
  }
}



p {
  color: #fff;
}

.divide-section {
  @include area-flex(1180px);
  @include clearfix();
  margin-top: 210px;
  // overflow: hidden;

  #headingModule {
    float: left;
    width: 40%;
    padding-top: 0;
  }

  .divide-contents-section {
    float: left;
    width: 60%;
    margin-top: 28px;
  }

  .example-style {
    #headingModule {
      position: relative;
      float: left;
      width: 36%;
      // margin-bottom: 380px;
      overflow: visible;
    }
  }

  @media (max-width: $mobile) {
    margin-top: 120px;

    #headingModule {
      float: none;
      width: 100%;
      padding-bottom: 0;
    }

    .divide-contents-section {
      float: none;
      width: 100%;
      margin-top: 36px;
    }

    .example-style {
      #headingModule {
        float: none;
        width: 100%;
        padding: 0;
      }
    }
  }
}

.example-wrap {
  position: relative;

  &:before {
    position: absolute;
    bottom: 92px;
    left: 0;
    width: 100%;
    height: 296px;
    background: #202937;
    content: "";
  }

  @media (max-width: $mobile) {
    &:before {
      bottom: 46px;
      height: 164px;
    }
  }
}

#tailSection {
  margin-top: 180px;

  @media (max-width: $mobile) {
    margin-top: 102px;
  }
}

// .make-section {
//     + #tailSection {
//         margin-top: 250px;
//     }
// }

.laptop-mockup {
  position: relative;

  &:before {
    position: absolute;
    top: -360px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 640px;
    background: #202937;
    content: "";
  }

  article {
    position: relative;
    width: auto;
    max-width: 1204px;
    margin: auto;
    margin-top: 125px;
  }

  @media (max-width: $mobile) {
    &:before {
      height: 436px;
    }

    article {
      margin-top: 48px;
    }
  }
}

.mock-img {
  width: 1294px;
  max-width: fit-content;

  @media (max-width: $mobile) {
    width: calc(100% - 26px);
    margin: 0 20px;
  }
}

.half-wrap {
  position: absolute;
  top: 9.2%;
  left: 0;
  width: 100%;
  height: 100%;

  >div {
    position: relative;
    display: table;
    width: 77%;
    height: 65%;
    // max-height: 574px;
    margin: auto;
    font-size: 0;
    text-align: center;

    div {
      display: table-cell;
      width: 50%;
      height: 100%;
      vertical-align: middle;
    }

    p {
      color: #fff;
      font-weight: bold;
      font-size: 28px;
      opacity: 0.7;
    }

    button {
      position: absolute;
      top: 52%;
      left: 50.7%;
      font-weight: bold;
      font-size: 16px;
      transform: translate(-50%, -50%);

      img {
        width: 45px;
        margin-right: 12px;
        vertical-align: middle;
      }

      p {
        font-size: 16px;
        font-family: $mont;
      }
    }
  }

  @media (max-width: $mobile) {
    >div {
      p {
        font-size: 10px;
      }

      button {
        position: absolute;
        top: auto;
        bottom: 43%;
        left: 48.6%;
        white-space: nowrap;
        transform: translate(-50%, 0);

        img {
          width: 20px;
          margin-right: 0;
        }

        p {
          display: none;
        }
      }
    }
  }
}

.video-wrap {
  position: absolute;
  top: 9.2%;
  left: 50%;
  width: 72%;
  height: 67%;
  background: #1b1d21;
  transform: translateX(-50%);

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .video-progressbar-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #868585;

    .video-progressbar {
      position: absolute;
      height: 3px;
      background-color: #ed2b5e;
    }
  }
}