@media screen and (max-width: 1024px) {

    section.contactTab .contactCont>div span.contactContTab,
    section.contactTab .contactCont>div .FAQWrap {
        padding: 100px 24px;
    }

    section.contactTab .contactCont>div .noticeWrap {
        gap: 40px;
    }

    section.contactTab .contactCont>div span.contactContTab .contContMenu>span:last-child span:last-child div.mapList>ul {
        flex-direction: column;
    }

    section.contactTab .contactCont>div .noticeWrap {
        flex-direction: column;
        padding: 100px 24px;
    }

    // λ…Έν‹°μ¤
    section.contactTab .contactCont>div .noticeWrap .noticeAside {
        display: none;
    }

    section.contactTab .contactCont>div .noticeWrap .noticeMbAside {
        display: block;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxCont>div,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .tutorialBoxCont>div,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .guideBoxCont>div {
        max-width: none;
        width: calc((100% - 15px) / 2);
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxCont>div:nth-child(6),
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxCont>div:nth-child(4),
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxCont>div:nth-child(2),
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .guideBoxCont>div:nth-child(2),
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .tutorialBoxCont>div:nth-child(2) {
        margin-right: 0;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxCont>div:nth-child(3),
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .tutorialBoxCont>div:nth-child(3),
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .guideBoxCont>div:nth-child(3) {
        margin-right: 15px;
    }

    section.contactTab .contactCont>div .LearningCenter {
        padding: 100px 24px;
    }
}

@media screen and (max-width: 768px) {

    section.contactTab .contactCont>div .LearningCenter .LearningCenterTab,
    section.contactTab .contactCont>div .FAQWrap .FAQTab {
        display: none;
    }

    section.contactTab .contactCont>div .LearningCenter .LearningCenterMbTab,
    section.contactTab .contactCont>div .FAQWrap .FAQMbTab {
        display: block;
    }

    section.contactTab .contactCont>div .FAQWrap {
        padding: 100px 24px;
    }

    section.contactTab .contactCont>div .LearningCenter,
    section.contactTab .contactCont>div span.contactContTab {
        padding: 100px 24px;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont,
    section.contactTab .contactCont>div .FAQWrap .tabCont {
        flex-direction: column;
        gap: 40px;
    }

    // FAQ
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterAside,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQAside {
        display: none;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterMbAside,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQMbAside {
        display: block;
    }

    section.contactTab .contactCont>div .LearningCenter .LearningCenterMbTab .LearningCenterMbTab-wrapper .LearningCenterMbTab-slide {
        padding: 10px;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxTit p:last-child,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .tutorialBoxTit p:last-child,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .guideBoxTit p:last-child {
        display: none;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .guideBoxTit,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .tutorialBoxTit,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxTit {
        justify-content: center;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .tutorialBoxTit p:first-child,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .guideBoxTit p:first-child {
        margin-top: 50px;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .mobileMore,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .mobileMore,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .mobileMore {
        display: block;
    }

    section.contactTab .contactCont>div .LearningCenter .centerModule {
        margin-bottom: 12px;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .guideBoxCont,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .tutorialBoxCont,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxCont {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 650px) {
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxCont>div a span.listInfo span:nth-child(2) {
        margin-bottom: 10px;
    }

    section.contactTab .contactCont>div .noticeWrap .noticeList>ul:first-child {
        display: none;
    }

    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul ul,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul>li:first-child {
        width: 100%;
    }

    section.contactTab .contactCont>div .noticeWrap .noticeList>ul:nth-child(2) {
        border-top: 1px solid #616161;
    }

    section.contactTab .contactCont>div .noticeWrap .noticeList>ul li:last-child {
        display: none;
    }

    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul,
    section.contactTab .contactCont>div .noticeWrap .noticeList>ul {
        gap: 5px;
    }

    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul li:first-child,
    section.contactTab .contactCont>div .noticeWrap .noticeList>ul li:first-child {
        padding: 25px 0 0 0;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #616161;
    }

    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul ul li:first-child,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul ul li:last-child,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul li:nth-child(2),
    section.contactTab .contactCont>div .noticeWrap .noticeList>ul li:nth-child(2) {
        padding: 0 0 25px 0;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #616161;
    }

    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul ul li:first-child p,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul ul li:last-child {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #616161;
    }

    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQList .FAQListInnerWrap>ul,
    section.contactTab .contactCont>div .noticeWrap .noticeList>ul {
        flex-direction: column;
    }

    section.contactTab .contactCont>div .LearningCenter .centerModule {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        padding: 40px;
    }

    section.contactTab .contactCont>div .LearningCenter .centerModule .centerModuleMore {
        justify-content: center;
    }

    section.contactTab .contactCont>div .LearningCenter .centerModule .centerModuleMore,
    section.contactTab .contactCont>div .LearningCenter .centerModule .centerModuleTit {
        width: 100%;
    }

    section.contactTab .contactCont>div .LearningCenter .centerModule .centerModuleMore span:last-child p,
    section.contactTab .contactCont>div .LearningCenter .centerModule .centerModuleMore span:first-child p {
        white-space: nowrap;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.18px;
        color: #092e6e;
    }

    section.contactTab .contactCont>div .LearningCenter .centerModule .centerModuleTit h2 {
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: -0.23px;
        text-align: center;
        color: #092e6e;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxCont>div,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .tutorialBoxCont>div,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .guideBoxCont>div {
        width: 100%;
        margin-right: 0 !important;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .userBox .userBoxCont>div a,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .tutorialBox .tutorialBoxCont>div a,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterList .guideBox .guideBoxCont>div a {
        max-height: none;
    }
}

@media screen and (max-width: 425px) {

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterMbAside,
    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterMbAside ul,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQMbAside,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQMbAside ul,
    section.contactTab .contactCont>div .noticeWrap .noticeMbAside,
    section.contactTab .contactCont>div .noticeWrap .noticeMbAside ul {
        max-width: none;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterMbAside,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQMbAside,
    section.contactTab .contactCont>div .noticeWrap .noticeMbAside {
        position: relative;
    }

    section.contactTab .contactCont>div .LearningCenter .tabCont .LearningCenterMbAside ul,
    section.contactTab .contactCont>div .FAQWrap .tabCont .FAQMbAside ul,
    section.contactTab .contactCont>div .noticeWrap .noticeMbAside ul {
        box-sizing: content-box;
    }
}