//@import url(./common.css);
.aboutVirnect {
  width: 100%;
}

.aboutVirnect .aboutVirnect {
  max-width: 1200px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner {
  display: block;
  width: 100%;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectTit {
  text-align: center;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectTit h2 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
  margin-bottom: 40px;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectTit span {
  display: block;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #616161;
  margin-bottom: 60px;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectTit span p {
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #616161;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont {
  display: flex;
  flex-direction: column;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul {
  display: flex;
  width: 100%;
  padding: 0;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child {
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child li {
  display: flex;
  border: solid 1px #c5c8cf;
  background-color: #fff;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child li:first-child>span {
  display: block;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child li:first-child>span:first-child {
  display: flex;
  max-width: 400px;
  width: 100%;
  flex: 1;
  height: 140px;
  background-image: url('~/assets/images/pages/epc/adfadfe123.png');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child li:first-child>span:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
  padding: 0 20px;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child li:last-child span {
  display: block;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child li:last-child span:first-child {
  display: flex;
  max-width: 400px;
  flex: 1;
  height: 140px;
  background-image: url('~/assets/images/pages/epc/dsaf5435.png');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child li:last-child span:last-child {
  padding: 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:last-child {
  display: flex;
  justify-content: center;
  position: relative;
  justify-content: space-evenly;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:last-child::after {
  display: block;
  content: "";
  width: 100%;
  border-bottom: solid 1px #616161;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:last-child li {
  flex: 1;
  text-align: center;
  width: 100%;
  display: flex;
  min-width: 190px;
  max-width: 190px;
  align-items: center;
  max-height: 190px;
  min-height: 190px;
  height: 100%;
  padding: 50px 20px;
  background-color: #f7f8f9;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:last-child li p {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-align: center;
  color: #0a51b7;
  margin-bottom: 11px;
}

.aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:last-child li span {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
}

.aboutVirnect .aboutHistory {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 150px 30px;
}

.aboutVirnect .aboutHistory .aboutHistoryInner {
  display: flex;
  flex-direction: column;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryTit {
  display: flex;
  flex-direction: column;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryTit h2 {
  font-size: 44px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.55px;
  text-align: center;
  color: #121212;
  margin-bottom: 20px;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryTit p {
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: -0.28px;
  text-align: center;
  color: #616161;
  margin-bottom: 60px;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont {
  display: flex;
  flex-direction: column;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContTab {
  display: flex;
  border-bottom: solid 1px #9a9da3;
  margin-bottom: 85px;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContTab li {
  flex: 1;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #9a9da3;
  padding: 19px 0;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContTab li.active,
.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContTab li:hover {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #0a51b7;
  border-bottom: solid 5px #092e6e;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 4px #092e6e;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisLeft {
  display: flex;
  flex-direction: column;
  gap: 115px;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisLeft div {
  display: flex;
  flex-direction: column;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisLeft div span {
  display: block;
  font-size: 32px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #121212;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisLeft div p {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
  color: #121212;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisLeft i img {
  display: block;
  max-width: 334px;
  min-width: 334px;
  min-height: 262px;
  width: 100%;
}

.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisRight {
  display: flex;
  max-width: 548px;
  width: 100%;
}
// 되????
.aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisRight ul li {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 16px;
  letter-spacing: -0.2px;
  text-align: justify;
  color: #121212;
}

.aboutVirnect .customers {
  display: block;
  background-color: #f7f8f9;
  width: 100%;
}

.marginRanger {
  padding-top: 150px;
}

.aboutVirnect .customers .customersInner {
  max-width: 1200px;
  padding: 0px 30px;

  padding-bottom: 150px;
  margin: 0 auto;
}

.aboutVirnect .customers .customersInner .customersTit h2 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.38px;
  text-align: left;
  color: #121212;
  padding-left: 30px;
  margin-bottom: 20px;
}

.aboutVirnect .customers .customersInner .customersTit p {
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.23px;
  text-align: left;
  color: #616161;
  padding-left: 30px;
  margin-bottom: 56px;
}

.aboutVirnect .customers .customersInner .customersCont .customerContTab {
  display: flex;
  border-bottom: solid 1px #9a9da3;
  margin-bottom: 40px;
}

.aboutVirnect .customers .customersInner .customersCont .customerContTab li {
  cursor: pointer;
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #9a9da3;
  padding: 19px 0;
}

// 나나낱ㅌ
.aboutVirnect .customers .customersInner .customersCont .customerContTab li.active,
.aboutVirnect .customers .customersInner .customersCont .customerContTab li:hover {
  color: #0a51b7;
  border-bottom: solid 5px #092e6e;
}

.aboutVirnect .customers .customersInner .customersCont .customerContCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.aboutVirnect .customers .customersInner .customersCont .customerContCont li {
  width: calc((100% - 50px) / 6);
  margin-right: 10px;
  margin-bottom: 10px;
}

.aboutVirnect .customers .customersInner .customersCont .customerContCont li:nth-child(6n) {
  margin-right: 0;
}

.aboutVirnect .customers .customersInner .customersCont .customerContCont li img {
  max-width: 192px;
  width: 100%;
}

.aboutVirnect .aboutVirnect {
  padding: 0 24px 100px;
}

@media screen and (max-width: 1024px) {
  .aboutVirnect .customers .customersInner .customersCont .customerContCont li {
    width: calc((100% - 40px) / 5);
  }

  .aboutVirnect .customers .customersInner .customersCont .customerContCont li:nth-child(6n) {
    margin-right: 10px;
  }

  .aboutVirnect .customers .customersInner .customersCont .customerContCont li:nth-child(5n) {
    margin-right: 0;
  }

  .aboutVirnect .aboutVirnect {
    padding: 0 24px 100px;
  }

  .aboutVirnect .aboutHistory {
    padding: 100px 24px;
  }

  .aboutVirnect .customers .customersInner {
    padding: 0 24px 140px ;
  }

  .marginRanger{
    padding: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:last-child {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:last-child::after {
    display: block;
    content: "";
    width: 100%;
    border-bottom: solid 1px #616161;
    border-top: solid 1px #616161;
    padding: 118px 0;
    position: absolute;
    bottom: -7%;
    transform: translateY(-50%);
    z-index: -1;
  }

  .aboutVirnect .aboutHistory::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid #000;
  }

  .aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryTit h2,
  .aboutVirnect .customers .customersInner .customersTit h2,
  .aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectTit h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .aboutVirnect .customers .customersInner .customersTit h2 {
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
  }

  .aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectTit span,
  .aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectTit span p,
  .aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryTit p,
  .aboutVirnect .customers .customersInner .customersTit p {
    font-size: 16px;
    text-align: center;
  }

  .aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child li:first-child>span:last-child,
  .aboutVirnect .aboutVirnect .aboutVirnectInner .aboutVirnectCont>ul:first-child li:last-child span:last-child {
    font-size: 18px;
  }

  .aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont {
    min-height: 456px;
    flex-direction: row-reverse;
    position: relative;
    padding: 0 24px;
  }

  .aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisRight {
    align-items: flex-end;
    padding-bottom: 45px;
  }

  .aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisLeft div {
    position: absolute;
    left: 24px;
    top: -40px;
  }

  .aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont .HisLeft {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .aboutVirnect .customers .customersInner .customersCont .customerContCont{
    padding: 0;
  }

  .aboutVirnect .customers .customersInner,
  .aboutVirnect .aboutHistory {
    padding: 90px 24px;
  }

  .aboutVirnect .customers .customersInner .customersCont .customerContCont li {
    width: calc((100% - 30px) / 4);
  }

  .aboutVirnect .customers .customersInner .customersCont .customerContCont li:nth-child(5n) {
    margin-right: 10px;
  }

  .aboutVirnect .customers .customersInner .customersCont .customerContCont li:nth-child(4n) {
    margin-right: 0;
  }

  .aboutVirnect .aboutHistory {
    padding: 100px 0;
  }

  .aboutHistoryContTab {
    padding-left: 0;

    li {
      font-size: 16px;
    }
  }
  .aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContCont {
    flex-direction: column-reverse;
    height: 750px;
    justify-content: end;
  }


}

@media screen and (max-width: 425px) {
  .aboutVirnect .customers .customersInner .customersCont .customerContCont li {
    width: calc((100% - 10px) / 2);
  }

  .aboutVirnect .customers .customersInner .customersCont .customerContCont li:nth-child(4n) {
    margin-right: 10px;
  }

  .aboutVirnect .customers .customersInner .customersCont .customerContCont li:nth-child(2n) {
    margin-right: 0;
  }

  .aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContTab li {
    font-size: 16px;
  }

  .aboutVirnect .aboutHistory .aboutHistoryInner .aboutHistoryCont .aboutHistoryContTab li.active {
    font-size: 16px;
  }
}