@charset "utf-8";
@import "~assets/css/font.scss";
@import "~assets/css/mixin.scss";
@import '~/assets/css/reset.scss';


footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

$mobile: "425px";

.header-section+section {
  min-height: 70vh;
}

.box {
  height: 100%;
  overflow: hidden;
}

.section-heading {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.into-btn {
  width: 134px;
  height: 44px;
  font-size: 14px;
  font-family: $noto;
  border: 1px solid rgba(255, 255, 255, 0.8);

  &:hover {
    background-color: rgba(210, 220, 228, 0.4);
  }

  &:active {
    background-color: rgba(210, 220, 228, 0.29);
  }
}

.circle-arrow-btn {
  position: relative;
  margin-top: 32px;
  padding-right: 32px;
  color: #222;
  font-weight: 500;
  font-size: 14px;
  font-family: $noto;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: #032050;
    background-image: url("~assets/images/common/ic-chevron-right@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border-radius: 50%;
    content: "";
  }

  &:hover {
    &:after {
      background-color: #1655bf;
    }
  }

  &:active {
    &:after {
      background-color: #14479e;
    }
  }
}

.dark .circle-arrow-btn {
  &:after {
    background-color: #5e91e5;
  }
}

.arrow-btn {
  width: 30px;
  height: 24px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100%;

  &.prev-btn {
    background-image: url("~assets/images/common/ic-arrow-back@2x.png");
  }

  &.next-btn {
    background-image: url("~assets/images/common/ic-arrow-forward@2x.png");
  }

  @media (max-width: $mobile) {
    width: 20px;
    height: 18px;
  }
}

.navy-infomation-list-pagination {
  width: 1120px;
  margin-top: 60px;
  margin-right: auto;
  /* margin-bottom: 50px; */
  margin-left: auto;

  .pagination-progressive-bar {
    position: relative;
    float: left;
    width: 900px;
    height: 1px;
    margin-top: 10px;

    &.swiper-pagination-progressbar {
      .swiper-pagination-progressbar-fill {
        background-color: $point;
      }
    }
  }

  .pagination-number-wrap {
    float: left;
    height: 28px;
    margin-left: 55px;
    color: #7e8792;
    vertical-align: middle;

    i {
      display: inline-block;
      margin: 0 28px;
      font-weight: 500;
      font-size: 20px;
      font-family: $noto;
      line-height: 24px;
      vertical-align: top;

      span {
        color: #1655bf;
      }
    }
  }

  @media (max-width: $mobile) {
    /* @include area-flex(100%); */
    width: 100%;
    margin-top: 28px;

    .pagination-progressive-bar {
      width: calc(92% - 106px);
    }

    .pagination-number-wrap {
      margin-left: 8%;

      i {
        margin: 0 13px;
        font-size: 16px;
      }
    }
  }
}

.app-fade-enter-active,
.app-fade-leave-active {
  /* position: absolute;
  // top: 0;
  // width: 100%;
  // height: 100%; */
  transition: opacity 0.5s;

  &+#footerSection {
    opacity: 0;
  }
}

.app-fade-enter,
.app-fade-leave-to {
  opacity: 0;
}

.app-fade-leave,
.app-fade-enter-to {
  opacity: 1;
}

.tag-placeholder {
  /* padding-top: 5px; */
  padding-left: 10px;
  color: #8b96a8;
  font-weight: normal;
  font-size: 15px;

  &::selection {
    background-color: white;
    cursor: default;
  }

  &:hover {
    background-color: white;
    cursor: default;
  }

  @media (max-width: $mobile) {
    padding-left: 0;
    font-size: 14px;
  }
}

.visit-btn {
  display: block;
  width: 220px;
  height: 58px;
  margin: 32px auto 0;
  color: $point;
  font-weight: 500;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
  border: 1px solid $point;

  &:hover {
    color: #fff;
    background: $point;
  }


  @media (max-width: $mobile) {
    width: 200px;
    height: 56px;
    margin-top: 28px;
    line-height: 52px;
  }
}